Library/
Temp/
.vs/
.obj/
.Debug/
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp-firstpass.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-firstpass.csprojAssemblyReference.cache
obj/Debug/build.force
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Sirenix.OdinInspector.CompatibilityLayer.csproj.CoreCompileInputs.cache
obj/Debug/Sirenix.OdinInspector.CompatibilityLayer.csprojAssemblyReference.cache
obj/Debug/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj.CoreCompileInputs.cache
obj/Debug/Sirenix.OdinInspector.CompatibilityLayer.Editor.csprojAssemblyReference.cache
obj/Debug/UniRx.csproj.CoreCompileInputs.cache
obj/Debug/UniRx.csprojAssemblyReference.cache
obj/Debug/Zenject.csproj.CoreCompileInputs.cache
obj/Debug/Zenject.csproj.FileListAbsolute.txt
obj/Debug/Zenject.csprojAssemblyReference.cache
obj/Debug/Zenject.dll
obj/Debug/Zenject.pdb
obj/Debug/Zenject-Editor.csproj.CoreCompileInputs.cache
obj/
